BoardList{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}
.Home{
  background-color: rgba(220, 227, 233, 0.512);
  border-radius: 15px;
  height:600px;
  margin: 30px;  
}
.BoardList{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin-right: 0px;
  overflow: auto;
  height: 500px;
  background-color: transparent;
}
.BoardCard{
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  width: 18rem;
}
body{
  background: rgb(247,247,247);
background: linear-gradient(90deg, rgba(247,247,247,0.5301470930168943) 0%, rgba(243,243,255,1) 35%, rgba(195,245,255,1) 100%);
}
.NewBoardForm{
  width: 50%;
}
.innerItem{
  justify-content: center;
  align-items: center;
  display: flex;
  background-color:  rgba(198, 205, 255, 0.093);
}
/*
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black;
}

h2, h3, h4, h5, span, p,   input{
  font-family: 'Playfair Display', serif;
}

  /*display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;

  


.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img{
  width: 60px;
  height: 60px;
}

.logo h1{
  margin: 0;
  font-family: 'Barrio', cursive;
}

.menu{

}

.menu ul{
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 20px;
}

.menu li{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 2px;
}

.menu li a:hover{
  color: rgb(161,192,87);
}

.Nav{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.NavForm{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.NavForm h2{

}

.NavForm span{

}

.NavForm ul{
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0;
}

.NavForm ul li{
  
}

.NavForm ul li #clr{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid black;
}

.NavForm ul li #clr:hover{
  border: none;
  cursor: pointer;
}

.selectedBtn{

}

.NavForm input{
  width: 50%;
  padding: 5px;
  border-radius: 5px 0 5px 0;
  border: 1px solid black;
  box-shadow: 1px 2px rgb(190, 204, 154);
}

.NavForm #clr{
  width: 30%;
  padding: 5px;
  border: 1px solid rgb(89, 107, 48);
}

.NavForm #clr:hover{
  background: rgb(161,192,87);
  border-color: rgb(161,192,87);
  color: white;
}

.MyBoards{
  grid-row: 1/3;
  grid-column: 2 / 4;
}

.BoardList{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}

.MyBoards h1{
  font-family: 'Playfair Display', serif;
}

.Footer{
  grid-column: 1 / 4;
  grid-row: 3;
}

.BoardCard{
  width: 150px;
  height: 130px;
  /* for test: 
  background-color: rgb(199, 89, 89); 
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.BoardCard h2{
  color: white;
  font-size: 20px;
}

.TaskList{

}

.TaskCard{

}*/